* {
    box-sizing: border-box;
    text-decoration: none;
}

.cvDownload {
    text-decoration: none;
    color: white;
}

.cvDownload:hover {
    color: white;
}

body {
    background-color: rgb(5, 5, 62) !important;
    font-family: 'Raleway', sans-serif !important;
    color: white !important;
}

.headerFont {
    font-size: 4rem;
    font-weight: 800;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* h2 {
    color: rgb(5, 5, 62) !important;
    font-size: 16px;
    text-align: center;
} */

.avatarImg {
    max-width: 400px;
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: rgb(70, 70, 237);
}

.nav-link {
    color: rgb(5, 5, 62) !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.fade-in-text-1 {
    animation: fadeIn 2s;
}

.fade-in-text-2 {
    text-align: center;
    animation: fadeIn 6s;
}

.fade-in-image { 
    animation: fadeIn 10s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.thinkImg {
    max-width: 400px !important;
    opacity: 0.5;
}

.aboutRow {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.skillsList {
    list-style-type: none !important;
    font-size: 1.5rem;
    line-height: 3rem;
}

.cardBody {
    width: 25rem;
    justify-content: center !important;
    text-align: center !important;
}

/* .card {
    width: 25rem;
    justify-content: center !important;
    text-align: center !important;
    background: transparent;
} */

.repoImg {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardTitle {
    color: rgb(5, 5, 62) !important;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.cardDescription {
    color: rgb(5, 5, 62);
    text-align: left;
    padding-left: 10px;
}

.cardBtn {
    background-color: rgb(70, 70, 237);
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

.cardBtn:hover {
    background-color: aqua;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
}

.contactDetails {
    text-decoration: none;
}

.container.contact-container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin-bottom: 50px;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

header {
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

article {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgb(13, 12, 110);
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(121, 96, 250) !important;
}

.projects-container {
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    text-align: center;
}

.btn {
    width: 200px;
}

article:hover {
    background-color: rgb(5, 5, 62);
    border: 1px solid white !important;
}

.contact-icon {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid rgb(121, 96, 250);
    resize: none;
    color: white;
}

@media screen and (max-width: 1024px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        gap: 2rem
    }
}

@media screen and (max-width: 600px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        width: 100%
    }
}

@media screen and (max-width: 600px) {
    .nav-link {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 1280px) {

    .projects {
        padding: 5%;
    }
    .projects-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardBody {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article {
        padding: 5% !important;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    
}

@media screen and (max-width: 1024px) {
    .projects-container {
        grid-template-columns: 1fr;
        gap: 2rem
    }

    .cardBody {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article {
        padding: 5% !important;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
}

@media screen and (max-width: 600px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        width: 100%
    }
    .repoImg {
        margin-left: auto;
        margin-right: auto;
    }

    .cardDescription {
        margin-left: auto;
        margin-right: auto;
    }

    article {
        padding: 5% !important;
        width: 100%;
        flex-direction: column;
        justify-content: center!important;
        text-align: center !important;
    }
}

@media screen and (max-width: 800px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        width: 100%
    }
    .repoImg {
        margin-left: auto;
        margin-right: auto;
    }

    .cardDescription {
        margin-left: auto;
        margin-right: auto;
    }

    article {
        padding: 5% !important;
        width: 100%;
        flex-direction: column;
        justify-content: center!important;
        text-align: center !important;
    }
}