* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.cvDownload {
    text-decoration: none;
    color: white;
}

.cvDownload:hover {
    color: white;
}

body {
    background-color: rgb(5, 5, 62) !important;
    font-family: 'Raleway', sans-serif !important;
    color: white !important;
}

.headerFont {
    font-size: 4rem;
    font-weight: 800;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
}

.avatarImg {
    max-width: 400px;
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: rgb(70, 70, 237);
}

.nav-link {
    color: rgb(5, 5, 62) !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.fade-in-text-1 {
    animation: fadeIn 2s;
}

.fade-in-text-2 {
    animation: fadeIn 6s;
}

.fade-in-image { 
    animation: fadeIn 10s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.thinkImg {
    max-width: 400px !important;
}

.aboutRow {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 0 0 0;
}

.firstRow {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

.secondRow {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}