body {
    background-color: rgb(5, 5, 62) !important;
    font-family: 'Raleway', sans-serif !important;
    color: white !important;
}

.headerFont {
    font-size: 4rem;
    font-weight: 800;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
}

.avatarImg {
    max-width: 400px;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: rgb(40, 40, 187);
}

.nav-link {
    color: rgb(5, 5, 62) !important;
}

.nav-link {
    color: rgb(5, 5, 62) !important;
  }

